* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    text-decoration: none;


}

.container {
    max-width: 1200px;
    padding: 0 30px;
    margin: auto;
}


.header {
    background-image: url(imges/Frame_Header_Nav.jpg);
    min-height: 130px;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo {
    display: flex;
    gap: 10.46px;
    align-items: center;
}

.logo img {
    max-width: 44px;
}

.logo h2 {
    color: #7842E8;
}

.nav_list ul a {
    padding-right: 40px;
    color: #686770;
    font-size: 16px;
}

.nav_btn {
    display: flex;
    align-items: center;
    gap: 24px;
}

.login {
    font-size: 16px;
    color: #686770;
}

.get_start {
    font-size: 16px;
    padding: 12px 48px 12px 24px;
    border: solid 1px #7842E8;
    border-radius: 8px;
    color: #7842E8;
}

.nav_btn i {
    color: #7842E8;
    margin-left: -60px;
}

/* Hero style start here */

.section_hero {
    background-image: url(imges/Frame_Hero.jpg);
    min-height: 1440px;

}

.hero_text_part {
    text-align: center;
    padding-top: 119px;
    padding-bottom: 75px;


}

.sub_header h2 {
    font-size: 18px;
    color: #7842E8;
}

.main_header h1 {
    max-width: 749px;
    margin: auto;
    font-size: 62px;
    font-weight: 700;
    color: #686770;
    padding-top: 10px;
    padding-bottom: 20px;
}

.hero_p p {
    max-width: 667px;
    margin: auto;
    font-size: 18px;
    color: #919099;
    padding-bottom: 24px;

}

.hero_btn {
    display: flex;
    justify-content: center;
}

.hero_left_btn {
    padding: 8px 16px;
    background-color: #7842E8;
    border-radius: 60px;
}

.hero_left_btn a {
    color: #ffff;
    font-size: 12px;
}

.hero_right_btn {
    display: flex;
    align-items: center;
    padding: 0px 18px 0 0px;
    gap: 10px;
    border: solid 1px #7842E8;
    border-radius: 60px;
}

.hero_right_btn a {
    font-size: 14px;
}


/* Tab Site */

.simple_div {
    max-width: 360px;
    text-align: center;
    box-shadow: 0px 4px 34px rgb(193, 97, 85, 0.08);
    padding: 32px 26px;
    border-radius: 24px;
}

.simple_div img {
    max-width: 127.44px;
}

.price_div h2 {
    font-size: 50px;
    font-weight: 700;
    color: #111111;
    padding-top: 32px;
    padding-bottom: 8px;
}

.price_div span {
    font-size: 20px;
    color: #686770;
}

.price_div p {
    font-size: 14px;
    color: #2E2E32;
}

.price_div h3 {
    font-size: 20px;
    font-weight: 500;
    color: #7842E8;
    padding-top: 8px;
    padding-bottom: 24px;
}


.hr {
    border: dashed 1px #DBDADF;
}

.flex {
    display: flex;
    align-items: center;
    gap: 4px;

}

.flex_div {
    padding-top: 24px;
    padding-bottom: 32px;
}


.flex p {
    font-size: 18px;
    font-weight: 500;
    color: #2E2E32;
}




.simple_btn {
    display: inline-block;
    padding: 12px 24px;
    border: solid 1px #7842E8;
    border-radius: 50px;


}

.simple_btn a {
    font-size: 16px;
    font-weight: 500;
    color: #7842E8;

}

.different_style {
    max-width: 360px;
    min-height: 555px;
    text-align: center;
    box-shadow: 0px 4px 34px rgb(193, 97, 85, 0.08);
    padding: 32px 46px;
    border-radius: 24px;
    border-top: solid 6px #7842E8;
}

.different_style img {
    max-width: 127.44px;
}


.different_1 h2 {
    font-size: 50px;
    font-weight: 700;
    color: #111111;
    padding-top: 32px;
    padding-bottom: 8px;
}

.different_1 span {
    font-size: 20px;
    color: #686770;
}

.different_1 p {
    font-size: 14px;
    color: #2E2E32;
}

.different_1 h3 {
    font-size: 20px;
    font-weight: 500;
    color: #7842E8;
    padding-top: 8px;
    padding-bottom: 24px;
}

.different_2 {
    padding-top: 24px;
}

.different_flex_1,
.different_flex_2,
.different_flex_3 {
    display: flex;
    align-items: center;
    gap: 4px;
}

.different_flex_3 {
    padding-bottom: 32px;
}


.different_btn {
    display: inline-block;
    padding: 12px 24px;
    border: solid 1px;
    border: solid 1px #7842E8;
    background-color: #7842E8;
    border-radius: 50px;
}

.different_btn a {
    font-size: 16px;
    font-weight: 500;
    color: #F4EEFF;
}

.hero_tab_part {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    padding-bottom: 199px;
}

/* Hero style end here */


/* section_3 style start here */


.section_3 {
    background-image: url(imges/Frame_Section_3.jpg);
    min-height: 665px;
}

.main_header {
    text-align: center;
    font-size: 42px;
    line-height: 1.3em;
    color: #2E2E32;
    padding-bottom: 16px;
}

.main_paragrap {
    text-align: center;
    font-size: 16px;
    line-height: 1.6em;
    color: #919099;
}

.boost_plan {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 29.33px;
    padding-top: 64px;
    padding-bottom: 160px;
}

.plan {
    padding: 30px 20px;
}

.plan:hover {
    border: solid 0px #fff;
    box-shadow: 0px 4px 52px rgb(39, 38, 38, 0.08);
    border-radius: 10px;
    transition: all .2s;
}

.plan h2 {
    font-size: 22px;
    line-height: 1.4em;
    color: #2E2E32;
    padding-top: 10px;
    padding-bottom: 12px;
}

.plan p {
    font-size: 14px;
    line-height: 1.5999999999999999em;
    color: #919099;
}

/* section_3 style end here */


/* section_4 style start here */

.section_4_main_header {
    text-align: center;
    font-size: 42px;
    line-height: 1.3em;
    color: #2E2E32;
}

.section_4_main_paragrap {
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-size: 16px;
    line-height: 1.6em;
    color: #919099;
    padding-top: 16px;
    padding-bottom: 64px;
}

.experence_and_overview {
    display: flex;
    gap: 97px;
}

.experince_part {
    padding-top: 66px;
    position: relative;
}

.trust_site_1 {
    position: relative;
    padding-left: 98px;
}

.experience_1 {
    max-width: 158px;
    position: absolute;
    left: -32px;
    top: -32px;
    padding-bottom: 48px;
}


.trust_site_1 h2 {
    font-size: 20px;
    line-height: 1.4em;
    color: #2E2E32;
}

.trust_site_1 p {
    font-size: 16px;
    line-height: 1.6em;
    color: #919099;
    padding-top: 12px;

}

.trust_site_2 {}

.trust_site_2 h2 {
    text-align: end;
    font-size: 20px;
    line-height: 1.4em;
    color: #2E2E32;
}

.trust_site_2 {
    position: relative;
    padding-right: 48px;
    padding-top: 48px;
}

.experience_2 {
    max-width: 158px;
    position: absolute;
    right: -95px;
    top: 29px;
}

.trust_site_2 p {
    text-align: right;
    font-size: 16px;
    line-height: 1.6em;
    color: #919099;
    padding-top: 12px;
}

.trust_site_3 {
    padding-left: 98px;
    position: relative;
    padding-top: 48px;
}

.trust_site_3 h2 {
    font-size: 20px;
    line-height: 1.4em;
    color: #2E2E32;
    padding-bottom: 12px;

}

.trust_site_3 p {
    font-size: 16px;
    line-height: 1.6em;
    color: #919099;

}

.experience_3 {
    max-width: 158px;
    position: absolute;
    top: 32px;
    left: -32px;
}

.bg>img {
    position: absolute;
    top: 148px;
    left: 36px;
}


.over_view_part img {
    max-width: 543px;
    min-height: 582.23px;
    padding-bottom: 160px;
}


/* section_4 style end here */





/*------------------------------- 
   Responsive For Tablet
-----------------------------*/

@media (min-width:768px)and (max-width:1023px) {


    .nav_list ul a {
        padding-right: 25px;
    }

    .nav_btn {
        gap: 20px;
    }


    .get_start {
        font-size: 16px;
        padding: 12px 35px 12px 12px;
        border: solid 1px #7842E8;
        border-radius: 8px;
        color: #7842E8;
    }

    .nav_btn i {
        color: #7842E8;
        margin-left: -46px;
    }


    .hero_text_part {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .main_header h1 {
        font-size: 45px;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .hero_p p {
        max-width: 533px;
        font-size: 18px;
        padding-bottom: 20px;
    }

    .hero_tab_part {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        align-items: self-start;
        padding-bottom: 70px;
    }

    .different_style {
        max-width: 360px;
        max-height: 555px;
        text-align: center;
        box-shadow: 0px 4px 34px rgb(193, 97, 85, 0.08);
        padding: 32px 46px;
        border-radius: 24px;
        border-top: none;
    }

    .different_flex_3 {
        padding-bottom: 13px;
    }

    .different_2 {
        padding-top: 15px;
    }

    .simple_div {
        padding: 36px 26px;

    }

    .different_btn {
        border: solid 1px #5e19e7;
        background-color: #ffffff;

    }

    .different_btn a {
        color: #5e19e7;
    }

    .main_header {
        font-size: 36px;
    }

    .boost_plan {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 60px;
        padding-bottom: 70px;
    }

    .experence_and_overview {
        flex-wrap: wrap;
        gap: 70px;
        justify-content: center;
    }

    .bg>img {
        display: none;
    }

    .trust_site_2 h2 {
        text-align: start;
    }

    .trust_site_2 p {
        text-align: start;
        font-size: 16px;
    }


    .experience_2 {
        left: -30px;
        top: 29px;
    }

    .trust_site_1,
    .trust_site_2,
    .trust_site_3 {
        max-width: 600px;
        margin: auto;
    }

    #only_tab_mobail {
        padding-left: 105px;
    }

    .experince_part {
        position: relative;
        padding-top: 45px;
    }

    .over_view_part img {
        max-width: 530px;
        padding-bottom: 60px;
    }

    .section_4_main_paragrap {
        max-width: 619px;
        padding-bottom: 25px;
    }


}

/*-------------------------------
   Responsive for smartphone
---------------------------------- */


@media (max-width:767px) {

    .container {
        padding: 0 15px;
    }

    .logo {
        gap: 0px;
    }

    .logo h2 {
        font-size: 20px;
    }

    .nav_list ul a {
        padding-right: 8px;
        font-size: 10px;
    }

    .nav_btn {
        gap: 5px;
    }

    .login {
        font-size: 12px;
    }


    .get_start {
        font-size: 10px;
        padding: 8px 15px 10px 10px;
    }

    .nav_btn i {
        display: none;
    }

    .hero_text_part {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .main_header h1 {
        font-size: 35px;
        padding-top: 10px;
        padding-bottom: 15px;
    }


    .hero_tab_part {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 45px;
    }

    .simple_div {
        max-width: 300px;
        padding: 20px 20px;
    }

    .different_style {
        max-width: 300px;
        min-height: 475px;
        padding: 20px 46px;
        border-top: none;
    }

    .simple_div img {
        max-width: 100px;
    }

    .price_div h2 {
        font-size: 45px;
        padding-top: 15px;
    }

    .price_div h3 {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 15px;
    }

    .flex p {
        font-size: 16px;
    }

    .flex_div {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .different_style img {
        max-width: 100px;
    }

    .different_1 h2 {
        font-size: 45px;
        padding-top: 15px;
    }

    .different_1 h3 {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 15px;
    }

    .different_flex_1 p {
        font-size: 14px;
    }

    .different_flex_2 p {
        font-size: 13px;
    }

    .different_flex_3 p {
        font-size: 14px;
    }

    .different_flex_3 {
        padding-bottom: 20px;
    }

    .different_2 {
        padding-top: 15px;
    }

    .different_btn {
        border: solid 1px #5e19e7;
        background-color: #ffffff;

    }

    .different_btn a {
        color: #5e19e7;
    }

    .boost_plan {
        max-width: 300px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .main_header {
        font-size: 32px;
        padding-bottom: 15px;
    }

    .section_4_main_header {
        font-size: 32px;
    }

    .section_4_main_paragrap {
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .experence_and_overview {
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }

    .bg>img {
        display: none;
    }

    .trust_site_1 h2 {
        font-size: 18px;
    }

    .trust_site_1 p {
        font-size: 14px;
        padding-top: 8px;
    }

    .trust_site_2 h2 {
        text-align: start;
        font-size: 18px;
    }

    .trust_site_2 p {
        text-align: start;
        font-size: 14px;
        padding-top: 8px;
    }

    .trust_site_3 h2 {
        font-size: 18px;
        padding-top: 0px;
    }

    .trust_site_3 p {
        font-size: 14px;
        padding-top: 0px;
    }

    .experience_2 {
        left: -30px;
        top: 29px;
    }

    .trust_site_1,
    .trust_site_2,
    .trust_site_3 {
        max-width: 600px;
        margin: auto;
    }

    #only_tab_mobail {
        padding-left: 105px;
    }

    .experince_part {
        position: relative;
        padding-top: 45px;
    }

    .over_view_part img {
        max-width: 530px;
        padding-bottom: 60px;
    }

    .experience_1 {
        max-width: 120px;
        left: -7px;
        top: -25px;
        padding-bottom: 0px;
    }

    .experience_2 {
        max-width: 120px;
        left: -4px;
        top: 25px;
    }

    .experience_3 {
        max-width: 120px;
        top: 32px;
        left: -7px;
    }

    .over_view_part img {
        max-width: 350px;
        padding-bottom: 45px;
    }
}